
<div id="background"></div>
<div id="fab">&#43;</div>
<header id="page-header"><a id="hamburger" href="#sidebar-nav" target="_self"><span class="line"></span><span class="line"></span><span class="line"></span></a></header>
<nav id="sidebar-nav">
  <header id="sidebar-header"><a id="codepen-link" href="https://www.codepen.io/seanfree" target="_blank"></a>
    <div id="profile-info">
      <h3 id="profile-name">Sean Free</h3>
      <h4 id="blurb">Rogue Webonaut</h4>
    </div><a id="btn-more"><span class="dot"></span><span class="dot"></span><span class="dot"></span></a>
    <ul id="sidebar-nav-list">
      <li class="sidebar-nav-item" id="nav-item-Home"><a href="#">Home</a></li>
      <li class="sidebar-nav-item" id="nav-item-Social"><a href="#">Social</a></li>
      <li class="sidebar-nav-item" id="nav-item-Mail"><a href="#">Mail</a></li>
      <li class="sidebar-nav-item" id="nav-item-Pictures"><a href="#">Pictures</a></li>
      <li class="sidebar-nav-item" id="nav-item-Music"><a href="#">Music</a></li>
      <li class="sidebar-nav-item" id="nav-item-Files"><a href="#">Files</a></li>
      <li class="sidebar-nav-item" id="nav-item-Settings"><a href="#">Settings</a></li>
      <li class="sidebar-nav-item" id="nav-item-Close"><a href="#">Close</a></li>
    </ul>
  </header>
</nav><a id="nav-screen-overlay" href="#" target="_self"></a>